html {
    background-color: #F0ECEE;
    background: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-size: 18px;
    font-style: normal;
    color: #88898B;
}

a:link {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
  }

a:visited {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
}

a:hover {
    text-decoration: none;
    color: black;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.emphasizedText {
    color: #FF4850;
}

h1 {
    color: black;
}

p {
    font-size: 16px;
}

.contact {
    border: none;
    border-radius: 8px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    width: 100%;
}

.contact:hover {
    background-color: #CCC;
}

.findOut {
    border: none;
    border-radius: 8px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
    width: 100%;
}

.findOut:hover {
    background-color: #CCC;
}

.flex-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.row1 {
    padding-top: 30px;
}


    html {
        background-color: #F0ECEE;
        background: none;
    }


    .adoptMe {
        font-size: 14;
        flex: 20;
        padding: 0px 0;
        justify-content: left;
    }
    
    .column {
        padding: 0px 0;
        justify-content: flex-start;
    }
    
    .whatWeDo {
        flex: 1;
        padding: 0px 0;
        justify-content: flex-start;
    }
    
    .benefits {
        flex: 1;
        padding: 0px 0;
        justify-content: flex-start;
    }
    
    .ourBuddies {
        flex: 1;
        padding: 0px 0;
        justify-content: flex-start;
    }
    
    .contactUs {
        flex: 1;
        padding: 0px 0;
        justify-content: flex-start;
    }

    .flex-box-container {
        display: flex;
        flex-direction: column;
    }

@media (min-width: 768px) {
    html {
        background: no-repeat top center url(bulldog.jpg);
        background-size: cover;
        min-height: 100%;
    }
    
    body {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 18px;
        font-style: normal;
        color: #88898B;
    }
    
    a:link {
        text-decoration: none;
        color: #88898B;
        font-style: normal;
      }
    
    a:visited {
        text-decoration: none;
        color: #88898B;
        font-style: normal;
    }
    
    a:hover {
        text-decoration: none;
        color: black;
    }
    
    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    .emphasizedText {
        color: #FF4850;
    }
    
    h1 {
        color: black;
    }
    
    p {
        font-size: 16px;
    }
    
    .adoptMe {
        font-size: 16px;
        padding: 15px 0;
    }

    .aboutUs {
        display: inline-flex;
        padding: 35px 0;
        text-align: center;
        margin: 10px;
    }

    .whatWeDo {
        display: inline-flex;
        padding: 35px 0;
        text-align: center;
        margin: 10px;
    }

    .benefits {
        display: inline-flex;
        padding: 35px 0;
        text-align: center;
        margin: 10px;
    }

    .ourBuddies {
        display: inline-flex;
        padding: 35px 0;
        text-align: center;
        margin: 10px;
    }

    .contact {
    border: none;
    border-radius: 8px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    }

    .contactUs {
        display: inline-flex;
        text-align: center;
        margin: 10px;
    }
    
    
    .contact:hover {
        background-color: #CCC;
    }
    
    .findOut {
        border: none;
        border-radius: 8px;
        background-color: #FF4850;
        color: #F0ECEE;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        width: 50%;
    }
    
    .findOut:hover {
        background-color: #CCC;
    }
    
    .flex-box-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .row1 {
        padding-top: 28px;
    }
}