html {
    background: no-repeat top center url(bulldog.jpg);
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: normal;
    color: #88898B;
}

a:link {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
  }

a:visited {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
}

a:hover {
    text-decoration: none;
    color: black;
}

.column-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.emphasizedText {
    color: #FF4850;
}

h1 {
    color: black;
}

p {
    font-size: 16px;
}

.adoptMe {
    flex: 5;
    font-size: 16px;
    padding: 15px 0;
}

.aboutUs {
    display: inline-flex;
    padding: 35px 0;
    text-align: center;
    margin: 10px;
}

.whatWeDo {
    display: inline-flex;
    padding: 35px 0;
    text-align: center;
    margin: 10px;
}

.benefits {
    display: inline-flex;
    padding: 35px 0;
    text-align: center;
    margin: 10px;
}

.ourBuddies {
    display: inline-flex;
    padding: 35px 0;
    text-align: center;
    margin: 10px;
}

.contactUs {
    display: inline-flex;
    text-align: center;
    margin: 10px;
}

.contact {
    border: none;
    border-radius: 8px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.contact:hover {
    background-color: #CCC;
}

.findOut {
    border: none;
    border-radius: 8px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.findOut:hover {
    background-color: #CCC;
}

.flex-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.row1 {
    padding-top: 30px;
}

@media (max-width: 600px) {
    html {
        background-color: #F0ECEE;
        background: none;
    }

    .column-layout {
        flex-direction: column;
    }

    .adoptMe {
        flex: 0;
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }
    
    .column {
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }
    
    .whatWeDo {
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }
    
    .benefits {
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }
    
    .ourBuddies {
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }
    
    .contactUs {
        padding: 0px 0;
        justify-content: flex-start;
        width: 100%;
    }

    .contact {
        border: none;
        border-radius: 8px;
        background-color: #FF4850;
        color: #F0ECEE;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        width: 90%;
    }

    .flex-box-container {
        display: flex;
        flex-direction: column;
    }

    .findOut {
        border: none;
        border-radius: 8px;
        background-color: #FF4850;
        color: #F0ECEE;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        width: 90%;
    }
}