html {
    background-color: #F0ECEE;
    background: none;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    font-style: normal;
    color: #88898B;
}

.adoptMe {
    font-weight: 400;
}

a:link {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
  }

a:visited {
    text-decoration: none;
    color: #88898B;
    font-style: normal;
}

a:hover {
    text-decoration: none;
    color: #FF4850;
}

.flexbox {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
}

ul {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    vertical-align: middle;
}

li {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    font-weight: 300;
    list-style: outside none none;
}

.adopt {
    color: black;
}

.emphasizedText {
    color: #FF4850;
}

h1 {
    color: black;
    font-weight: 600;
}

p {
    font-weight: 300;
}

.contact {
    border: none;
    border-radius: 15px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 100%;
}

.contact:hover {
    background-color: #CCC;
    color: #FF4850;
}

.findOut {
    border: none;
    border-radius: 15px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    width: 100%;
}

.findOut:hover {
    background-color: #CCC;
    color: #FF4850;
}

.flex-box-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.row1 {
    padding-top: 30px;
}

.flex-box-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    html {
        background: no-repeat top center url(bulldog.jpg);
        background-size: cover;
        min-height: 100%;
    }
    
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    
    h1 {
        color: black;
    }
    
    p {
        font-size: 18px;
    }

    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        vertical-align: middle;
    }

    li {
        flex: 1;
        display: inline-flex;
        padding: 35px 0;
        text-align: center;
        margin: 10px;
    }

    .contact {
    border: none;
    border-radius: 15px;
    background-color: #FF4850;
    color: #F0ECEE;
    padding: 10px;
    font-size: 20px;
    }

    .contactUs {
        display: inline-flex;
        text-align: center;
        margin: 10px;
    }
    
    .findOut {
        border: none;
        border-radius: 8px;
        background-color: #FF4850;
        color: #F0ECEE;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 20px;
        width: 50%;
    }
    
    .leftColumn {
        width: 50%;
    }

    .rightColumn {
        display: flex;
        flex-direction: column;
    }
    
    .flex-box-container {
        display: flex;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    .row1 {
        padding-top: 28px;
    }
}